/* This file is for overall page layout and structure. */
a.site-logo img{
    max-width: 250px;
}
.hidden{
    display: none;
}
/*12 column grid*/
.region{
    padding: 0 10px;  
}
.region.region-content{
    padding: 0;
}
.page-max-width{
	max-width: 1200px;
	margin: 0 auto;
}
.grid-container{
    clear: both;
    display: block;
    overflow: hidden;
}
.grid{
    float: left;
    display: block;
}
.grid-1{
    width: 8.33%;
}
.grid-2{
    width: 16.66%;
}
.grid-3{
    width: 25%;
}
.grid-4{
    width: 33.33%;
}
.grid-5{
    width: 41.66%;
}
.grid-6{
    width: 50%;
}
.grid-7{
    width: 58.33%;
}
.grid-8{
    width: 66.66%;
}
.grid-9{
    width: 75%;
}
.grid-10{
    width: 83.33%;
}
.grid-11{
    width: 91.66%;
}
.grid-12{
    width: 100%;
}
@media only screen and (max-width: 700px) {
    .grid-1, .grid-2, .grid-3,.grid-4, .grid-5, .grid-6,.grid-7, .grid-8, .grid-9,.grid-10, .grid-11, .grid-12{
        width: 100%;
        float: none;
    }
}